div#gallerydeluxe {
    margin-bottom: 50px;
}

$color_primary: #EEEEEE !default;
$color_secondary: #222831 !default;
$color_background: #393E46 !default;
$color_background_footer: $color_secondary !default;
